@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap";

:root{
  --links: rgb(255, 169, 155);
  --hoverLinks: rgb(250, 154, 139);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header, main {
  max-width: 80%;
  width: 940px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
}

.nav-link{
  color: black;
  margin: 10px;
}

.nav-link:hover{
  color: var(--links);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color:var(--links);
}

.nav-link.active:hover{
  background: var(--hoverLinks);
}

.top-container{
  background-color: #FBDFDB;
  border-radius: 30px;
  padding: 20px 20px 0 20px;
}
.main-title, .main-paragraph {
  margin: 10% 2px 10% 10%;
}

.main-title{
  margin-top: 15%;
}

.center{
  padding: 0;
  margin-left: 15%;
}

.middle-title{
  font-weight: bold;
  margin-top: 30px;
}

.card{
  border: none;
}

.card-body{
  padding: 0;
}

.text{
  margin: 0;
  margin-bottom: 10px;
}

.card img{
  border-radius: 10px;
}

footer p{
  background: rgb(206, 206, 206);
  text-align: center;
  margin: 0;
  padding: 10px;
}

.modal-default.visible {
  background-color: rgba(0, 0 , 0 , 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
}

.modal-default{
  background-color: rgba(0, 0 , 0 , 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.close {
  float: right;
  margin-right: 45%;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}


