{% extends 'layout.njk' %}

{% block content %}
    <main>
        <div class="top-container">
            <div class="box-index">
                <div class="box-tittle">
                    <h2 class="main-title">As melhores receitas</h2>
                    <p class="main-paragraph">
                        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                    </p>
                </div>

                <div class="img-chef">
                    <img src="/assets/chef.png" alt="">
                </div>
            </div>
        </div>

        <div class="middle-container">
            <div class="middle-title">
                <p>Mais acessadas</p>
            </div>
            
            <div class="card-box">

                {% for recipe in data %}   
            
                <div class="card" id="{{ recipe.image }}">
                    
                    <img src="{{ recipe.image }}" class="card-img-top" alt="">
                    
                    <div class="card-body">
                        <p class="recipe-title">{{ recipe.title }}</p>
                        <p class="recipe-author">por {{ recipe.author }}</p>
                    </div>

                </div>
            
                {% endfor %}

            </div>
        </div>
    </main>

    <script src="/script.js"></script> 
{% endblock %}
    