{% extends 'layout.njk' %}

{% block content %}
    <main>
            <div class="row box-image-area">
                
                {% for recipe in data %}   
            
                <div class="col-4 card" id="{{ recipe.image }}">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="text h6">{{ recipe.title }}</p>
                        <p class="text small">por {{ recipe.author }}</p>
                    </div>
                </div>

                {% endfor %}

                {% for recipe in data %}   
            
                <div class="col-4 card" id="{{ recipe.image }}">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="text h6">{{ recipe.title }}</p>
                        <p class="text small">por {{ recipe.author }}</p>
                    </div>
                </div>

                {% endfor %}
                
                

            </div>
        
    </main>
      
    {% endblock %}

     <!--modal-->
     <div class="modal-default">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <img src="" class="card-img-top" alt="">
                <p class="modal-title text h6"></p>
                <p class="modal-detail text small"></p>
            </div>
            <div class="m-footer">
              <p type="button" class="close">
                Fechar
              </p>
            </div>
          </div>
        </div>
      </div>

    <script src="script.js"></script> 
    
    
