{% extends 'layout.njk' %}

{% block content %}
    <main>
        <div class="image-area">
            <div class="layout-img">
                <img src="{{data[index].image}}" alt=""/>
            </div>

                <div class="card-body">
                    <p class="top-title h5">
                        {{ data[index].title }}
                    </p>
                    <p class="top-author small">
                        por {{ data[index].author }}
                    </p>

                    <div class="details">
                        <div class="hideShow">
                            <p class="h6 bold">ingredientes</p>
                            <a class="toggle">Esconder</a>
                        </div>
                        
                        <div class="ingredients-list content">
                            <ul>

                                {% for ingredient in data[index].ingredients %}

                                    <li>{{ ingredient }}</li>

                                {% endfor %}
                            
                            </ul>

                    </div>

                    <div class="details">
                        <div class="hideShow">
                            <p class="h6 bold">Modo de preparo</p>
                            <a class="toggle">Esconder</a>
                        </div>
                        
                        <div class="preparation-list content">
                            <ul>

                                {% for preparation in data[index].preparation %}

                                    <li>{{ preparation }}</li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="details">

                        <div class="hideShow">
                            <p class="h6 bold">Informações adicionais</p>
                            <a class="toggle">Esconder</a>
                        </div>

                        <div  class="content">
                            <p>
                                {{ data[index].information }}
                            </p>
                        </div>
                    </div>
                </div>
            
        </div>

    </main>

    <script src="/script.js"></script>
{% endblock %}