@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap";

:root{
  --links: rgb(250, 186, 176);
  --hoverLinks: rgb(250, 139, 121);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* LAYOUT */
header,
main {
  max-width: 80%;
  width: 940px;
  margin: 10px auto;
}

nav .nav{
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

nav .nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover{
  background-color: var(--hoverLinks);
}

.nav-link:active{
  box-shadow: -0.5px -2px 5px rgba(12, 10, 10, 0.77);
}

.nav-link{
  margin-right: 10px;
}

.nav-link{
  background-color: var(--links);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 2px 4px 5px rgba(12, 10, 10, 0.77);
}

ul{
  padding: 2vh 0;
}

li:first-child{
  margin-right: 10%;
}

footer p{
  background: rgb(206, 206, 206);
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}

/* index */

.top-title-about,
.middle-title {
  margin: 2%;
  font-weight: bold;
}

.box-index{
  width: 100%;
  height: 100%;
  background: #FBDFDB;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;
}

.box-tittle{
  margin: 20% 8%;
  padding: 0 5%;
  width: 80%;
}

.box-tittle .main-title,
.box-tittle .main-paragraph{
  margin: 5%;
  
}

.main-paragraph{
  text-align: justify;
}

.img-chef{
  padding: 8% 2% 0 20%;
  margin-bottom: 0; 
  
}

/* ABOUT */

.paragraph{
  padding-top: 2%;
  text-align: justify;
}

/* CARDS */

.card-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card{
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  
}
.card img{
  border-radius: 10px;
  width: 100%;
  height: 20vh;
}

.recipe-title{
  font-weight: bold;
  font-size: 0.9rem;
}

.recipe-author{
  font-size: 0.8rem;
}

/*recipe*/

.layout-img img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  margin-top: 2%;
}

.top-title {
  text-align: center;
  margin: 5% 0 0 0;
  font-weight: bold;
} 

.top-author{
  text-align: center;
  opacity: 0.6;
  margin-bottom: 20px;
}

.middle-title-recipe{
  font-size: 1rem;
}

.list-content{
  font-size: 0.8rem;
}



/* HIDE/SHOW */

.content.hide {
  height: 0;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.hideShow{
  margin-top:0;
  display: flex;
  align-items: center;
}

.toggle{
  margin: 0.5% 0 0.5% 1%;
  opacity: 0.6;
  font-size: 0.5rem;
  cursor: pointer; 
}

@media (max-width: 768px){
  
  .box-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }

  .box-tittle {
    margin: 25% 10% 2% 10%;
    padding: 0;
    width: 80%;
    box-sizing: border-box;
  }

  .img-chef {
    padding: 10% 18% 0;
    margin-bottom: 0;
  }

  .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card img{
    height: 20vh;
  }
}

@media (max-width: 430px){

  .box-index{
    display: grid;
    grid-template-columns: 1fr;
  }

  .middle-title p{
    font-size: 0.8rem;
  }
  .card img{
    height: 12vh;
  } 

  .box-tittle {
    margin: 10% 10% 2% 10%;
  }
  
  .recipe-title{
    font-size: 0.8rem;
  }

  .recipe-author{
    font-size: 0.7rem;
  }
  
}

@media (max-width: 375px){
   .img-chef {
    padding: 5% 12% 0;
    margin-bottom: 0;
  }

  .recipe-title{
    font-size: 0.7rem;
  }

  .recipe-author{
    font-size: 0.6rem;
  }
}

@media (max-width: 320px){
  li:first-child {
    margin-right: 1%;
    margin-left: -1%;
}
  .img-chef {
   padding: 5% 8% 0;
   margin-bottom: 0;
 }

 .card img{
  height: 10vh;
  }

  .recipe-title{
    font-size: 0.6rem;
  }

  .recipe-author{
    font-size: 0.5rem;
  }
}