{% extends 'admin/layout.njk' %}

{% block content %}

 
    <main>
        
        <form action="/admin/recipes" class="form" method="POST">    
            
            <div class="form-box">
            
                <div class="form-details">
                    
                    <div class="top-form">
                        
                        <div>
                        <h1 class="top-title-create">
                            Criando receita
                        </h1>
                        </div>

                        <div class="grid-button">
                            <button type="Submit">Salvar Receita</button>
                            {# <a href="/" id="cancelar" class="button">Cancelar</a> #}
                        </div>
                    </div>

                    <div class="recipe-item">
                        
                        <div>Imagem Receita</div>
                        
                        <div>
                            <input 
                                type="url"
                                name="recipe-image"
                                class="text-fields"
                                placeholder="http://"
                                value="">
                        </div>

                    </div>

                    <div class="recipe-item">
                        
                        <div>Ingredientes</div>
                        
                        <div>
                            <input 
                                type="text"
                                name="recipe-ingredients"
                                class="text-fields"

                                value="">
                        </div>

                        <div class="add">
                            <a href="#">Adicionar novo ingrediente</a>
                        </div>

                    </div>

                     <div class="recipe-item">
                        
                        <div>Modo de preparo</div>
                        
                        <div>
                            <input 
                                type="text"
                                name="recipe-preparation"
                                class="text-fields"
                                value="">
                        </div>

                        <div class="add">
                            <a href="#">Adicionar novo passo</a>
                        </div>

                    </div>

                       <div class="recipe-item">
                        
                        <div>Informações adicionais</div>
                        
                        <div>
                            <input
                                name="recipe-information"
                                class="text-fields"
                                value="">
                        </div>

                    </div>

                </div>

            </div>
        

        </form>
    </main>

    <script src="/script.js"></script> 
{% endblock %}
    